

{% extends "account/base copy.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
{% endblock css %}
 

{% block inner %}

<br>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>


<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}

{% endif %}

<img src="{% static 'image/logo.png' %}" width="150px" height="150px" style="margin-left: auto; margin-right: auto; display: block;">
<h2 style="text-align:center;">궁금했性</h2>
<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  
  <label for="id_login" class="control-label requiredField">
      
  </label>
  <input type="text" name="login" placeholder="아이디" autofocus="autofocus" maxlength="150" class="textinput textInput" id="id_login" required><br>
  
  <label for="id_password" class="control-label requiredField">
   
  </label>
  <input type="password" name="password" placeholder="비밀번호" class="textinput textInput" id="id_passoword" required><br>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <br>
  
  <a href="{{ signup_url }}">회원가입</a> 
  
  <br><br>

  <div class="col three">			
  <button class="button3" type="submit">{% trans "Sign In" %}</button>
  </div>
</form>

{% endblock %}

