

{% extends "account/base copy.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block inner %}
<body>  
  <style>
body {
    background-color: #f2f2f5;
    width : 100%;
    height : auto;
    position : center;
    text-align: center;
}
form{
  margin-bottom: 40%;
  position:center;
}

.button3 {  background-color: #bf2b76;
            width: 40%;
            height: 40px;
            border-radius: 30px;
            border: 2px solid #bf2b76; 
            font-size: 20px;
            color:white;
}
.logout{
  position:absolute; 
  top:30%; 
  width:100%; 
  height:auto; 
}
  </style>

<div class="logout">
  <h1>{% trans "Sign Out" %}</h1>
<br>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <br>
      <div class="controls">
        <br>
          <button class="button3" type="submit" position="relative">로그아웃</button>
      </div>
    </form>
</div>

  {% endblock %}
</body>
