{% extends "account/base copy.html" %}

{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block css %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock css %}

{% block inner %}



<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">

<img src="{% static 'image/logo.png' %}" width="150px" height="150px" style="margin-left: auto; margin-right: auto; display: block;">
<h2 style="text-align:center;">회원가입</h2> <br>

  {% csrf_token %}

  <label for="id_username" class="control-label requiredField">
    아이디<span class="asteriskField">*</span>
  </label><br>
  <input type="text" name="username" placeholder="아이디" autofocus="autofocus" maxlength="150" class="textinput textInput" id="id_username" required><br><br>

  <label for="id_email" class="control-label">
    이메일<span class="asteriskField"> (선택사항)</span>
  </label><br>
  <input type="email" name="email" placeholder="아이디" autofocus="autofocus" maxlength="150" class="textinput textInput" id="id_email"><br><br>

  <label for="id_password1" class="control-label requiredField">
    비밀번호<span class="asteriskField">*</span>
  </label><br>
  <input type="password" name="password1" placeholder="비밀번호" class="textinput textInput" id="id_password1" required><br><br>

  <label for="id_password2" class="control-label requiredField">
    비밀번호 (확인)<span class="asteriskField">*</span>
  </label><br>
  <input type="password" name="password2" placeholder="비밀번호 (확인)" class="textinput textInput" id="id_password2" required><br><br>

  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <br>
  <button class="button3" type="submit">{% trans "Sign Up" %}</button>
  <br><br>
  <p>{% blocktrans %} 이미 계정이 있으신가요? <br> 지금 <a href="{{ login_url }}">로그인</a>하세요.{% endblocktrans %}</p>

</form>
</div>
{% endblock %}

