{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/board_show.css' %}">
{% endblock css %}
<style>


</style>
<body>
{% block content %}
<div class="container" id="board-container">   
    <table class="table">
            <thead>
            <tr>
            <th style="background-color: rgba(255, 255, 255, 0.726)">{{ board.title }} 조회수: {{ board.view_count }} </th>

            </tr>
            </thead>
            
            <tbody>
            <tr>
                <th style="background-color: rgba(255, 255, 255, 0.918); color : #666666 ">{{ board.content }} </th>
            </tr>
            </tbody>
        </table>
    <P style="text-align: center"><a href="{% url 'board_list' %}" class="btn btn-outline" id="back-button" style="position: center;">목록보기</a></P>
</div>

{% endblock content %}

