{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/board_show.css' %}">
{% endblock css %}

{% block content %}
<div class="container" id="board-container">
    
    <div id="question-card" class="card">
        <div class="card-body">
            <h5>
                {{ question }}?
            </h5>
            <a href="#">
                <h6 style="text-align:right">{{ question.user }}</h6>
            </a>
            <p style="margin-left:40px">
                {{ question.content }}
            </p>
        </div>
    </div>
    {% if answer %}
    <div id="answer-card" class="card">
        <div class="card-body">
            <h5 style="text-align:left">
                {{ answer }}
            </h5>
            <span href="#">
                <h6>관리자</h6>
            </span>
            <p style = "text-align:left; margin-left:40px;" >
                {{ answer.content }}
            </p>
        </div>
       
    </div>
    <br><br>
    <P style="text-align: center"><a href="{% url 'question_list' %}" class="btn btn-outline-primary" id='back-button'>목록보기</a></p>
    {% endif %}
</div>
{% endblock content %}
    