{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/board_list.css' %}">
{% endblock css %}

{% block content %}
    {% include 'posts/_posts_header.html' %}

    {% include 'boards/_board_tab.html' %}

    <button type="button" class="btn btn-primary bmd-btn-fab" data-toggle="modal" data-target="#exampleModal">
        <i class="icon ion-md-create round-icon"></i>
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">질문하기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'create_question' %}" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="title">제목</label><br>
                    <input type="text" name="title" required="true" style="width: 100%;"><br><br>
                    <hr>
    
                    <label for="contetn">내용</label><br>
                    <textarea name="content" rows="10" style="width: 100%;"></textarea><br>
                    <hr>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">닫기</button>
                    <button type="submit" class="btn btn-primary">궁금했성!</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <div class="list-group">
        {% for question in questions %}
            <a href="{% url 'question_show' question.pk %}" class="list-group-item list-group-item-action">{{ question }}</a>
        {% endfor %}
    </div>

    <style>
        .modal-dialog {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        }
        
        .modal-content {
        height: auto;
        min-height: 100%;
        border-radius: 0;
        }
    </style>
{% endblock content %}
    