{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/board_show.css' %}">
{% endblock css %}

{% block content %}
<div class="container" id="board-container">
    <a href="/boards?is_question=true" class="btn btn-outline-primary" id='back-button'>뒤로가기</a>
    <div id="question-card" class="card">
        <div class="card-body">
            <div class="flex">
                <h5>
                    {{ question }}?
                </h5>
                <div class="like-button">
                    {% if request.user in question.question_like_users.all %}
                        <i id="like-icon-{{ question.pk }}" class="icon ion-ios-heart like-icon" data-pk="{{ question.pk }}"></i>
                    {% else %}
                        <i id="like-icon-{{ question.pk }}" class="icon ion-ios-heart-empty like-icon" data-pk="{{ question.pk }}"></i>
                    {% endif %}
                    <span class="likes-count" id="likes-count-{{ question.pk }}">{{ question.likes_count }}</span>
                </div>
            </div>
            <a href="#">
                <h6>{{ question.user }}</h6>
            </a>
            <p>
                {{ question.content }}
            </p>
        </div>
    </div>
    {% if answer %}
    <div id="answer-card" class="card">
        <div class="card-body">
            <h5>
                {{ answer }}
            </h5>
            <span href="#">
                <h6>관리자</h6>
            </span>
            <p>
                {{ answer.content }}
            </p>
        </div>
    </div>
    {% endif %}
</div>

<style>
    .likes-count {
        color: black;
        font-size: 15px;
    }

    .like-icon {
        color: red;
    }

    .like-button {
        float: right;
    }

    .flex {
        display: flex;
        justify-content: space-between;
    }
</style>
{% endblock content %}

{% block js %}
<script>
    $(".like-icon").click(function(){
        var pk = $(this).data('pk');
        $.ajax({
        type: "POST",
        url: "{% url 'question_like_toggle' question.pk %}",
        data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        dataType: "json",
        success: function(response){
            if (response.result == undefined) {
                alert("로그인이 필요합니다.");
                window.location.replace("/accounts/login/");
            }
            else {
                if (response.result == "like") {
                    $('#like-icon-' + pk).removeClass();
                    $('#like-icon-' + pk).addClass('icon ion-ios-heart like-icon');
                }
                else {
                    $('#like-icon-' + pk).removeClass();
                    $('#like-icon-' + pk).addClass('icon ion-ios-heart-empty like-icon');
                }
                $('#likes-count-' + pk).html(response.likes_count);
            }
        },
        error: function(request, status, error){
            alert("로그인이 필요합니다.");
            window.location.replace("/accounts/login/");
        },
        });
    });
</script>
{% endblock js %}
    