body {
    background-color: #f2f2f5;
  }

.header{
    border : 3px solid gray;
    display : grid;
    grid-template-columns : 20px 1fr 20px; 
}
.back{
    padding : 5px;
}
.login{
    padding : 5px;
    text-align : center;
}
.help{
    padding : 5px;
}
.logo_img{
    display : table;
    text-align: ceter;
    margin-left : auto;
    margin-right : auto;
    width : 30%;
    border:3px solid #bf2b76;
    text-align : center;
    padding : 50px 0px;
    margin-top:50px;
    margin-bottom:50px;
}

.input{
    display : grid;
    grid-gap : 1rem;
}
.email{
    margin-left : 10%;
    margin-right : 10%;
    border-bottom:3px solid #bf2b76;
}
.password{
    margin-left : 10%;
    margin-right : 10%;
    border-bottom:3px solid #bf2b76;
}
.find{
    display : flex;
    text-align: ceter;
    justify-content: space-around;
}
.f_id{
    
    border : 3px solid gray;
    text-align:center;
    padding : 10px;
   
}
.f_password{
    
    border : 3px solid gray;
    text-align:center;
    padding : 10px;
    
}

.signup{
    border : 3px gray;
    text-align:center;
    display : table;
    padding : 10px;
    margin-left : auto;
    margin-right : auto;
    width : 30%;
}
.login_bar{
    background-color:  #bf2b76; 
    padding:10px;
    text-align: center;
}
.container {
    text-align: center;
    margin-top: 10%;
}
.rectangle
{
    width: 161px;
    height: 168px;
    background: #6C6061;
    border-radius: 3px;
    display: inline-block;
}
input
{
    margin: 10px;
    padding: 10px;
    width: 300px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.input-name
{
    margin-top: 50px;
}
input[type=submit]
{
    background: #6C6061;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}
input[type=submit]:hover {
    background: #E4E2E2;
    color: black;

}


.button3 {  background-color: #bf2b76;
            width: 70%;
            height: 40px;
            border-radius: 30px;
            border: 2px solid #bf2b76;
            font-size: 20px;
            color:white;
}

a:link { color: red; text-decoration: none;}
a:visited { color: #adabaa; text-decoration: none;}
a:hover { color: blue; text-decoration: underline;}