
input:-ms-imput-placeholder {color:#a8a8a8;}
input::-webkit-input-placeholder {color:#a8a8a8;}
input::-moz-placeholder {color:#a8a8a8;} 

#header {
    text-align: left;
    margin:0;
    padding:30px;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    border:0;
    background-color:rgb(136,31,90);
    
}
#logo{
    border: 3px solid rgb(136,31,90);
    background-color:rgb(41, 32, 37);
    display: block; 
    margin: 0px auto; 
}
#search{
    background-color:white;
    
    
}

#search_icon{
    background-color:white;
    
    
}

#var_icon{
    border: 3px solid rgb(136,31,90);
    background-color:rgb(136,31,90);
    display: block; 
    margin: 0px auto;
    
}
#mypage_icon{
    border: 3px solid rgb(136,31,90);
    background-color:rgb(136,31,90);
    display: block; 
    margin: 0px auto;
    
}
input{
    font-size :1rem;
    padding:10px;
    border:0px;
    outline: none;
    float:left;
    background-color:white;
    
}

button{
    border:1px;
    background-color:rgb(136,31,90);
    
}

#banner{
    height:70px;
    
    border:5px solid red;
    padding:20px;
}


#intro{
    margin-top:15px;
    border-top:1px solid #a8a8a8;
    text-align:center;
}
#nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    
    border-bottom: 1px solid #a8a8a8;
    margin-top:10px;

}


.bigcard_container{

    border: 1px solid #beb6b8;
    margin:2%;
    display:flex;
    width:46%;
    height:46%;
    float:left;
    /*grid-template-columns: repeat(2,1fr);*/
    text-align: center;
    /*max-width: width 100%;
    height:auto !important;*/

    
}

.card_container{
    border: 1px solid #beb6b8;
}

.title{
    margin:2%;
    font-size : 15px;
    color: black;
    font-weight:bold;
}

.content{
    margin:2%;
    font-size : 13px;
    color: darkgrey;
    font-weight:lighter;
}

.img{
    border: 1px solid #beb6b8;
    margin: 5px;
    
    align-self:center;
    padding: 0px;
}
.card_news{
    align-self:center;

}

.newscard_container{
    border: 1px solid #beb6b8;
    margin:2%;
    display:grid;
    
    /*grid-template-columns: repeat(2,1fr);*/
    text-align: center;
    /*max-width: width 100%;
    height:auto !important;*/
}