
@font-face { font-family: 'netmarbleM'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.1/netmarbleM.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
    background-color:#f2f2f5;
    font-family:'netmarbleM';
    
}

input:-ms-imput-placeholder {color:#a8a8a8;}
input::-webkit-input-placeholder {color:#a8a8a8;}
input::-moz-placeholder {color:#a8a8a8;} 

#header {
    text-align: left;
    margin :0;
    padding:3px;
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    border:0;
    background-color:#bf2b76;
    width:auto;
    height: 70px;
}
#logo{
    border: 3px solid #bf2b76;
    display: block; 
    margin:10px auto; 
}


/*#search_icon{
    background-color:white;
}


#mypage_icon{
    border: 3px solid #bf2b76;
    background-color:#bf2b76;
    display: block; 
    margin: 4px auto;
    
}*/
input{
    font-size :1rem;
    padding:10px;
    border:0px;
    outline: none;
    float:left;
    background-color:white;
    
}

button{
    border:1px;
    background-color:#bf2b76;
    
}



#nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    border-top:1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
    background-color:#fff;
    box-shadow: 3px 3px  #e6e6e6;
}


.bigcard_container{
    border: 1px solid #beb6b8;
    margin:2%;
    display:flex;
    width:46%;
    height:46%;
    float:left;
    text-align: left;
    background-color:#fff;
    box-shadow: 3px 3px  #e6e6e6;

}

.title {
    margin:2%;
    font-size : 14px;
    color: black;
    font-weight:bold;
    padding-left:5px;
}

.content{
    margin:2%;
    font-size : 13px;
    color: darkgrey;
    font-weight:lighter;
    padding-left:10px;
    width:100px;
    padding:0 5px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.img {
    border: 1px solid #beb6b8;
    margin: 5px;
    align-self:center;
    padding: 0px;
}

.card_news {
    align-self:center;
}

.newscard_container{
    border: 1px solid #beb6b8;
    margin:2%;
    display:grid;
    text-align: center;
}





#search{
    background-color:white;
}

#search-icon-img {
    width: 40px;
    height: 40px;
    margin-left:5px;
}

#logo-icon-img {
    width: 50px;
    height: 40px;
    margin-left:5px;
}

#search-icon {
    width: 25px;
    height: 25px;
}

#mypage-icon-img {
    border: 3px solid #bf2b76;
    background-color:#bf2b76;
    display: block; 
    margin: 4px auto;/*추가*/
    width: 40px;
    height: 40px;
}

#search_icon{
    background-color:white;
}


#mypage_icon{
    border: 3px solid #bf2b76;
    background-color:#bf2b76;
    display: block; 
    margin: 0px auto;
    
}
input{
    font-size :1rem;
    padding:10px;
    border:0px;
    outline: none;
    float:left;
    background-color:white;
    
}

button{
    border:1px;
    /* background-color:#bf2b76; */
    margin-left: auto;
    margin-right: auto;
}


.carousel-item > img {
    width: 100%;
    max-height: 500px;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 11px;
	height: 40%;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: 150px;
	width: 15px;
	height: 15px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4, {
	background: rgba(0, 0, 0, 0.8);
}
    /*max-width: width 100%;
    height:auto !important;*/


@import url(https://fonts.googleapis.com/css?family=Open+Sans);


#search{
    width:60%;
    height:35px;
    border-radius: 5px 5px 5px 5px;
    margin-left:7px;
}
.searchTerm {
    width: 65%;
    margin-left:10px;
    text-align:center;
    font-size:10px;
    border-radius: 5px 0px 0px 5px;
    color: black;
}

.searchButton {
    width: 20%;
    height: 35px;
    background: #fff;
    color: #fff;
    border-radius: 0px 5px 5px 0px;
}


