button {-webkit-appearance:none;}
body {
    background-color: #f2f2f5;
  }
/*헤더*/
input:-ms-imput-placeholder {color:#a8a8a8;}
input::-webkit-input-placeholder {color:#a8a8a8;}
input::-moz-placeholder {color:#a8a8a8;} 

#header {
    text-align: left;
    margin :0;
    padding:3px;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    border:0;
    background-color:rgb(204,41,125);
    width:auto;
    height: 70px;
    
}
#logo{
    padding-left:8px;
    padding-right:5px;
    display: block; 
    margin:10px auto; 
}


#search_icon{
    background-color:white;
    
    
}


#mypage_icon{
    border: 3px solid rgb(204,41,125);
    background-color:rgb(204,41,125);
    display: block; 
    padding-left: 5px;
    padding-right: 5px;
    margin: 11px auto;
    
}
input{
    font-size :1rem;
    padding:10px;
    border:0px;
    outline: none;
    float:left;
    background-color:white;
    
}

 



/*내비바*/
#nav{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:10px;
    border-top:1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
    background-color:#fff;
    box-shadow: 1px 1px  #a8a8a8;
}

a.nav-link{
    padding-top:5px;
    padding-bottom:5px;
}


/*카드뉴스*/
.bigcard_container{

    border: 1px solid #beb6b8;
    margin:2%;
    display:flex;
    width:46%;
    height:46%;
    float:left;
    text-align: left;
    background-color:#fff;
    box-shadow: 1px 1px  #a8a8a8;
}

.card_container{
    border: 1px solid #beb6b8;
}

.title{
    margin:2%;
    font-size : 15px;
    color: black;
    font-weight:bold;
    padding-left:10px;
}

.content{
    margin:2%;
    font-size : 13px;
    color: darkgrey;
    font-weight:lighter;
    padding-left:10px;
}

.img{
    border: 1px solid #beb6b8;
    margin: 5px;
    
    align-self:center;
    padding: 0px;
}
.card_news{
    align-self:center;

}

.newscard_container{
    border: 1px solid #beb6b8;
    margin:2%;
    display:grid;
    
   
    text-align: left;
    
}
/*검색창*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-top:10px;
  margin-left:0px;
}

.searchTerm {
  width: 80%;
  border: 2px solid rgb(204,41,125); 
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  padding: 5px;
  height: 45px;
  outline: none;
  color: #9DBFAF;
}



.searchButton {
  width: 70px;
  height: 45px;
  border:2px solid rgb(204,41,125);
  background:  #fff;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}



/*성관계내비바*/

#sex{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-top:15px;
    border-top:1px solid #a8a8a8;
    border-bottom: 1px solid rgb(204,41,125);
    background-color:#fff;
    box-shadow: 1px 1px #a8a8a8;
    padding-top:8px;
    padding-bottom:8px;
}



#before{
    border: 0px;
    padding: 0px;
    background-color:#fff;
}

#doing{
    border: 0px;
    padding: 0px;
    background-color:#fff;
}

#after{
    border: 0px;
    padding: 0px;
    background-color:#fff;
}


/*로그인 성공*/
#t_login{
    margin :0;
    padding:2px;
    display:grid;
    grid-template-columns:2fr 2fr 1fr;
    border:0;
    background-color:rgb(204,41,125);
    width:auto;
    height:20px;
    font-size:0.8rem;
}

#hi{
    color:white;
    text-align:left;
}



#t_my{

    text-align:right;
    padding:0;
}

#t_out{

    text-align:right;
    padding:0;
}

/*로그인 실패*/

#fail_login{
    margin :0;
    padding:2px;
    display:grid;
    text-align:right;
    grid-template-columns:3fr 1fr 1fr;
    border:0;
    background-color:rgb(204,41,125);
    width:auto;
    height: 20px;
    font-size:0.8rem;
}

a{
    color:white;
}

/*포토슬라이더*/
photo-slider {
width: 100%;
}

photo-slider::after {
    display: block;
    content: '';
    
    /* 4:3 = height is 75% of width */
}

photo-slider img {
    position: absolute;
}
photo-slider {
/*   display: flex; */
    justify-content: center;
}
photo-slider {
    width: 100%;
    height: 100px;
}