#board-container {
    margin-top: 20px;
}

#back-button {
    margin-bottom: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#answer-card {
    margin-top: 30px;
    text-align: right;
}

.table {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    height:500px;
    margin:5px;
    }

