p {
    margin: 0px;
    margin-right: 9px;
    font-size: 13px;
}

.d-block{
    width : 100%;
    height: 1000px;
}

#post-container {
    margin-top: 20px;
}

#post-title {
    margin-top: 7px;
    width:100%;
    overflow:auto;
}

#small-infos {
    float: right;
}

#small-infos2 {
    float: left;
    margin-left : 18px;
}

.black {
    color: black;
}

#view-count {
    text-align: left;
}

#post-content {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 600;
    color : #6e6e6e;
}

#like-toggle {
    float: left;
}

#comments {
    margin-bottom: 50px;
}

#like-icon {
    color: red;
}
