#sexButton{
    background-color:#fff;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:0.8rem;
    margin-top:8px;
    border-bottom:2px solid #bf2b76;
    box-shadow: 3px 3px  #e6e6e6;
    padding-top:3px;
    padding-bottom:3px;
}

