{% extends "account/base copy.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock css %}

{% block title %}User: {{ user.username }}{% endblock %}


  
{% block content %}
<body>
  <style>
    body {
    background-color: #f2f2f5;
    width : 100%;
    height : auto;
    position : center;
}

.container {
    text-align: center;
    margin-top: 10%;
    background-color :  #f2f2f5;
}

.button3 {  background-color: #bf2b76;
            width: 40%;
            height: 40px;
            border-radius: 30px;
            border: 2px solid #bf2b76; 
            font-size: 20px;
            color:white;
}

.main-img{
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
    </style>
  <div class="container" style="margin-top: 30px;" width="100%" height="auto">
    <h2 >사용자 정보</h2>
    <br>
    <div class="row">
      <div class="col-sm-12">
          {% if user.image %}
              <img src="{{ user.image.url }}" alt="" width="50%" height="auto" class="main-img">
          {% endif %}
          <br><br>
          <h2>사용자명 : {{ user.username }}</h2>
          <br>

      </div>
    </div>

  {% if user == request.user %}
  <!-- Action buttons -->
  <div class="row">

    <div class="col-sm-12"style="text-align:center">
      <a href="{% url 'users:update' request.user.pk %}" ><button type="submit" class="button3" >정보수정</button></a>
      <!-- Your Stuff: Custom user template urls -->
    </div>

  </div>
  <!-- End Action buttons -->
  {% endif %}


  </div>
  {% endblock content %}

</body>

