{% extends "account/base copy.html" %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock css %}





{% block title %} User: {{ user.username }}{% endblock %}

{% block content %}
<div class="container-profile">
  <h2>사용자 정보</h2><br>
      <div class="col-sm-12">
        {% if user.image %}
            <img id="main-img" src="{{ user.image.url }}" alt="" width="100%" height="auto" box-shadow="">
        {% endif %}<br><br>
        <h2 ><span class="idid" >{{ user.username }}</span> 님 환영합니다</h2>
        <h4>정보수정 페이지 입니다</h3>
      </div>
        <!--<h2>사용자명 : {{ user.username }}</h2>-->
{% if user == request.user %}
<!-- Action buttons -->
<div class="row-bottom">
    <a href="{% url 'users:update' request.user.pk %}" ><button type="submit" class="button3">정보수정</button></a>
    <!-- Your Stuff: Custom user template urls -->
</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
