{% extends "account/base copy.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/account.css' %}">

{% endblock css %}

{% block content %}

<div class="container">
    <div class="update">
        {{ form|crispy }}<!--이따가 순서를 닉네임 비밀번호 파일선택순으로 바꾸기-->
        {% csrf_token %}
      
        <br>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="button3" position="relative">정보 수정</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

