{% load static %}

        
    {% if request.user.is_authenticated %}
        <div id = "t_login">
            <div id = "hi"><a class="nav-link" href="#">{{ request.user }}님 반갑습니다</a></div>
            <div id = "t_my"><a href="{% url 'users:profile' user.pk %}" class="nav-link">마이페이지</a></div>
            <div id = "t_out"><a class="nav-link" href="{% url 'account_logout' %}">로그아웃</a></div>
        </div>
    {% else %}
        <div id = "fail_login">
            <div>       </div>
            
            <div><a class="nav-link" href="{% url 'account_login' %}">로그인</a></div>
            <div><a class="nav-link" href="{% url 'account_signup' %}">회원가입</a></div>
            
        </div>
    {% endif %}

    
