{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock css %}

<style>
    .navcolor {
        border-top : 2px solid #ffffff;
        margin-top : 5px;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #bf2b76;">
    <a href="{% url 'basic' %}"><img src="/static/image/logo3.png" id="logo-icon-img"></a>
    <div id="search">
    <form action="{% url 'basic' %}" method="GET">
        <input type="text" name="query" class="searchTerm" value="{{ query }}" placeholder="ex)섹스 궁금했성">
        <button type="submit" class="searchButton">
            <img src = "/static/image/search_icon.png" id="search-icon">
        </button>
    </form>
</div>
    <a href="#">
      <img src="{% static 'image/user_icon.png' %}" id="mypage-icon-img" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navcolor">
            {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'users:profile' user.pk %}" class="nav-link">마이페이지</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="{% url 'account_logout' %}">로그아웃</a>
                </li>
            {% else %}
                <li class="active">
                    <a class="nav-link" href="{% url 'account_login' %}">로그인</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="{% url 'account_signup' %}">회원가입</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

