{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% endblock css %}

{% block content %}
<h1> 게시글 상세보기 페이지 입니다.</h1>
<h2>{{post.title}}</h2>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  
    
    
{% if post.kinds == 1 %}
    {% if post.image %}    
    <img src="{{ post.image.url }}" class="d-block" alt="...">
    {% endif %}
{% elif post.kinds == 0 %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for card_image in post.card_images %}
          {% if forloop.counter == 1 %}
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          {% else %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
          {% endif %}
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for card_image in post.card_images %}
          {% if forloop.counter == 1 %}
            <div class="carousel-item active">
          {% else %}
            <div class="carousel-item">
          {% endif %}
              {% if card_image.image %}
                  <img src="{{ card_image.image.url }}" class="d-block" alt="...">
              {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>
{% endif %}

<h2>{{post.user}}</h2>

<a href="{% url 'like_toggle' post.pk %}">
  {% if request.user in post.likes.all %}
      <ion-icon name="heart"></ion-icon>
  {% else %}
      <ion-icon name="heart-empty"></ion-icon>
  {% endif %}
</a> 

<h2>조회수 : {{post.view_count}}</h2>

{% endblock content %}
    