{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
    
{% if post.kinds == 1 %}
    {% if post.image %}    
      <img src="{{ post.image.url }}" class="d-block w-100" alt="...">
    {% endif %}
{% elif post.kinds == 0 %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {% for card_image in post.card_images %}
          {% if forloop.counter == 1 %}
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          {% else %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"></li>
          {% endif %}
        {% endfor %}
      </ol>
      <div class="carousel-inner">
        {% for card_image in post.card_images %}
          {% if forloop.counter == 1 %}
            <div class="carousel-item active">
          {% else %}
            <div class="carousel-item">
          {% endif %}
              {% if card_image.image %}
                  <img src="{{ card_image.image.url }}" class="d-block w-100" alt="...">
              {% endif %}
            </div>
        {% endfor %}
      </div>
    </div>
{% endif %}

<h2>{{ post.title }}</h2>
<p>조회수 : {{post.view_count}}</p>
<a href="#">
  <img src="{% static 'image/logo.png' %}" width="40" height="40" alt="...">
  {{ post.user }}
</a>
<br>

<a href="{% url 'like_toggle' post.pk %}">
  {% if request.user in post.likes.all %}
      <ion-icon name="heart"></ion-icon>
  {% else %}
      <ion-icon name="heart-empty"></ion-icon>
  {% endif %}
</a> 

<span id="likes_count">{{ likes_count }}</span>

<form action="{% url 'create_comment' post.pk %}" method="POST" style="margin-top: 50px;">
    {% csrf_token %}
    <div class="form-group">
        <textarea class="form-control" name="body" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="댓글 달기..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary right">작성</button>
</form><br>

{% if post.comments %}
<ul class="list-group" style="margin-top: 40px;">
    {% for comment in post.comments %}
    <li class="list-group-item">
        <p>
            <b>{{ comment.user.username }}</b>
            {% if user == comment.user %}
                <a href="{% url 'delete_comment' post.pk comment.pk %}" class="right">삭제</a>
            {% endif %}
        </p>
        <p>{{ comment.body }}</p>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}
    